<!DOCTYPE html>
<html lang='es'>
<head>
	<title>Bienvenido a mi web</title>
	<script src="https://kit.fontawesome.com/30df17659d.js" crossorigin="anonymous"></script>
</head
<body>
    <h1>
	    Hola Mundo v{{version}}!
    </h1>
    <p>
        Este cambio se ha hecho a través de CI/CD
    </p>
    <p>
        Hola {{user.username}}, bienvenido/a.
    </p>
    <p style="border: 1px solid black">
	{% if num_visitas %}
	    <i class="fas fa-users" style="padding: 1em"></i>{{num_visitas}}
	{% else %}
	    <i class="fas fa-users" style="padding: 1em"></i>Redis no disponible
	{% endif %}
    	<i class="fas fa-desktop" style="padding: 1em"></i>{{hostname}}
    </p>
</body>
</html>
